{
	auto_https off
	admin off
}

:80 {
	reverse_proxy frontend:3001 {
		health_uri /api/health
		health_interval 5s
		health_timeout 3s

		lb_policy round_robin
		lb_try_duration 10s
		lb_try_interval 250ms
	}
}
